---
title: Action bar/tab icon generator
bodyClasses: page-actionbar-icon-generator
destination: /icons-actionbar.html
---

{% extends '_generator-base.html' %}
{% block head %}
<meta name="description" content="Generate a web icon for your website's navigation. The icon generator will create 16 sizes of icons from your input image.">
<meta name="keywords" content="mobile app icon,material icon,home icon,cool icons,icon set,android icon,android app icon,android icon packs,android notification icons,android status bar icons,app icon,app icon maker,create icon,free icons for android,google icon,icon generator,icon pack,icons for android,make icon,phone icons for android" />
{% endblock %}
{% block body %}
<p class="invisible">android icon generator,android generate icons,icon generator for android,android app icon generator,android launcher icon generator,android notification icon generator</p>
{{ super() }}
<script>
new pages.ActionBarIconGenerator();
</script>
<p class="invisible">android icon generator,android generate icons,icon generator for android,android app icon generator,android launcher icon generator,android notification icon generator</p>
{% endblock %}
